section {
  scroll-margin-top: 20px; /* Valeur par défaut */
}

@media (min-width: 768px) {
  /* Taille d'écran pour 'md' dans Tailwind CSS */
  section {
    scroll-margin-top: 70px;
  }
}
.font-gotham {
  font-family: "Gotham";
}
/* Ajouter dans ton fichier CSS */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Masquer la barre de défilement sur WebKit */
}
.no-scrollbar {
  -ms-overflow-style: none; /* Masquer la barre de défilement sur IE 10+ */
  scrollbar-width: none; /* Masquer la barre de défilement sur Firefox */
}
